
pytz
gcsfs==0.6.0
pandas==0.24.2
scikit-learn==0.20.4
google-cloud-storage==1.26.0
mlflow==1.8.0
joblib==0.14.1
numpy==1.18.4
psutil==5.7.0


bs4==0.0.1
memoized-property==1.0.3
scipy== 1.2.2
Pillow==8.0.1
herepy==2.1.1
streamlit

nltk==3.5

urllib3==1.26.2
wikipedia==1.4.0
Wikipedia-API==0.5.4